body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    margin: 0.5rem 0 0;
}

main {
    flex: 1;
    padding: 1rem;
    max-width: 1600px;
    margin: 0 auto;
}

section#instructions {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

#audio-files {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Enable horizontal scrolling if table overflows */
}

#audio-files h2 {
    margin-top: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

th, td {
    border: 1px solid #ddd;
    padding: 4px;
}

th {
    background-color: #f2f2f2;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: center;
}

.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Set a fixed width for the container */
    margin: 0 auto;
}

audio {
    width: 100%; /* Ensure the audio player matches the width of its container */
    margin-bottom: 0.5rem;
}

.audio-container p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 0.85rem;
    color: #666;
    word-wrap: break-word; /* Ensure the text wraps */
    width: 100%; /* Ensure the width matches the audio element */
    white-space: normal; /* Allow wrapping */
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
}
